/* Google fonts */
@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Display|Roboto+Condensed&display=swap');


/*General Styles*/

body {
	background: #1a2933;
	color: #f1f1f1;
	margin-top: 5rem;
}

h1,h2,h3,h4,h5,h6 {
	color: #f5f5f5;
  }

footer {
    position: fixed;
    height: 50px;
	background-color: rgb(238, 236, 236);
	border-top-style:solid;
	border-width:1px;
	border-color:rgb(0, 247, 255);
    bottom: 0px;
    left: 0px;
    right: 0px;
	margin-bottom: 0px;
	color:rgb(221, 221, 221);
	border-color: #3397e9;
	box-shadow: 0 0 10px #3397e9;
	z-index: 1001;
}

ul {
	margin: 0;
}


/*Header*/

.bg-steel {
	background: linear-gradient(90deg, #05c9c9 10%, #8e0fad 90%);
}
.site-header .navbar-nav .nav-link {
	color: #cbd5db;
}
.site-header .navbar-nav .nav-link:hover {
	color: #ffffff;
}
.site-header .navbar-nav .nav-link.active {
	font-weight: 500;
}
.content-section {
	background: #ffffff;
	padding: 10px 20px;
	border: 1px solid #dddddd;
	border-radius: 3px;
	margin-bottom: 20px;
}
.article-title {
	color: #444444;
}
a.article-title:hover {
	color: #428bca;
	text-decoration: none;
}
.article-content {
	white-space: pre-line;
}
.article-img {
	height: 65px;
	width: 65px;
	margin-right: 16px;
}
.article-metadata {
	padding-bottom: 1px;
	margin-bottom: 4px;
	border-bottom: 1px solid #e3e3e3;
}
.article-metadata a:hover {
	color: #333333;
	text-decoration: none;
}
.article-svg {
	width: 25px;
	height: 25px;
	vertical-align: middle;
}
.account-img {
	height: 125px;
	width: 125px;
	margin-right: 20px;
	margin-bottom: 16px;
}
.account-heading {
	font-size: 2.5rem;
}
.fa-chalkboard-teacher {
	position: relative;
	top: 2px;
	font-size: 29px;
}
.fa-chevron-down {
	transition: all 0.5s ease;
}
.rotate180 {
	transform: rotate(180deg);
}

li{
	display: inline!important;
}

.dropdown li{
	display: inline!important
	
}


.user-menu{
	z-index:10000;
	position: absolute;
	right:5%;
	/* float:right; */
	box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.514), 0 6px 20px 0 rgba(255, 255, 255, 0.514);
	background-color: ghostwhite;
	width:300px;
	height: 405px;
	border-radius: 10px;
	display: none;
	color:black;

}

.user-menu .year{
	float:right;
	border-radius: 4px;
	border-style:solid;
	border-width:.6px;
	padding:3px;	

}

.drop-item td:hover {
	cursor: pointer;
	background-color: rgba(97, 96, 96, 0.116);
	transition: ease-in .4s;

}

.drop-item:nth-child(1){
	position: relative;
	margin-top:15px;
	padding: 5px 0px 5px 0px;
	color:rgb(74, 11, 156);
}


table td{
	text-align: center;
	border: 1px solid #ddd;
	width: 25% ;
	padding: 40px 0 40px 0;

}

#avatar{
	width:30px
}

.drop-item  .fa-paperclip{
	font-size:30px;
	color: #0f9aad
}

.drop-item .fa-chalkboard{
	font-size:30px;
	color: #218025
}

.drop-item .fa-file-code{
	font-size:30px;
	color: #c70650
}

.drop-item .fa-trophy{
	font-size:30px;
	color: #f5bc00
}

#logout{
	color: rgb(209, 12, 12)
}

.drop-item div:hover{
cursor: pointer;
background-color: rgba(97, 96, 96, 0.116);
transition: ease-in .4s;
}

.register-login{
	color: aliceblue; 
}



/*Text Editor*/
#editor {
	height: 78vh;
	border-color: #3397e9;
	box-shadow: 0 4px 8px 0 #3397e9, 0 6px 20px 0 #3397e9;

}

#editor-container{
	position: absolute;
	width:40vw;
	left:20px;
}

.options-panel{
	padding-bottom:5px;
	
	/* background-color:rgb(255, 255, 255); */
}

.options-panel .select-language{
	border-radius: 0px !important;
	border-style: solid;
	border-width: 1px;
	outline: none;
    border-color: #3397e9;
    box-shadow: 0 0 10px #3397e9;
	background: none;
	color:rgb(255, 255, 255)
}

.settings span{
	position: relative;
	float:right;
	/* border-style:solid; */
	border-width:1px;
}

.settings i{
	border-color: #3397e9;
	box-shadow: 0 0 10px #3397e9;
	border-radius:15px;
}


/* Theme Modal */
.modal-title{
	color:black;
}
.modal div{
	color:black;
}
option{
	background-color:rgb(36, 34, 34);
	color:white;
}

option:disabled{
	color:rgb(88, 86, 86);
}

.modal blockquote{
	
	font-size:18px;
	font-family: 'Roboto', sans-serif;

}

.modal .select-theme{
	position:relative;
	top:30px;
}

.modal #author{
	position: relative;
	top:10px;
	color:rgb(1, 82, 231);
}


/*Submission Footer*/
footer button{
	position:relative;
	top:5px;
	background: #00ebf3;
	color:rgb(0, 0, 0);
	border-style:none;
	border-color: #3397e9;
	box-shadow: 0 0 10px #3397e9;
}

footer .submission-bar{
	float:right;
}

footer .submission-bar button{
	margin:0 5px;
	left:-10px;

}


/*Descrition */
#description-container{
	position: absolute;
	background-color:rgb(238, 236, 236);
	box-shadow: 0 4px 8px 0 #3397e9, 0 6px 20px 0 #3397e9;
	padding:20px;
	right:40px;
	width:40vw;
	height: 78vh;
	top:110px;

}

#description-container  span{
	margin:0 20px;
}

	/* Like  & Dislike */
.description-container i{
	font-size:20px; 
	font-family: 'Roboto', sans-serif;

}

#description-container *{
	color:black;
}
.example{
	background-color:rgb(211, 211, 211);
	box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.418), 0 6px 20px 0 rgba(255, 255, 255, 0.411);
	padding:20px;
}

code{
	color:rgb(0, 26, 255);
}




/*Console */

#console{
	position:fixed;
	bottom:0px;
	left:.5vw;
	right:49.5vw;
	height: 300px;
	color:black;
	background-color:rgb(238, 236, 236);
	border-color: #3397e9;
	box-shadow: 0 0 10px #3397e9;
	z-index:1000;
	border-radius:5px;
}

#console .tabs{
	width:100%;
	height: 50px;
	color:white;
	
}

.open-console{
	position:relative;
	left:80px;
}


.project-tab #tabs{
    background: #007b5e;
    color: #eee;
}
.project-tab #tabs h6.section-title{
    color: #eee;
}
#console .nav-item{
	color:rgb(4, 199, 233);
	/* width:100px !important; */
}
.project-tab #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #aa00cc;
    background-color:rgb(41, 40, 40);
    border-color: transparent transparent #f3f3f3;
    border-bottom: 3px solid !important;
    font-size: 16px;
    font-weight: bold;
}

 
.project-tab .nav-link {
    border: 1px solid transparent;
    color: #000000;
    font-size: 16px;
    font-weight: 600;
}
.project-tab .nav-link:hover {
    border: none;
}
.project-tab thead{
    background: #f3f3f3;
    color: #333;
}
.project-tab a{
    text-decoration: none;
    color: #333;
    font-weight: 600;
}

.project-tab .tab-pane, th{
	background-color:white;
}

.project-tab .tab-pane{
	color:black;
	position:relative;
	height:300px;
	padding:30px 10px 30px 10px;
	overflow-y:auto;

}
.project-tab .output{
	position:relative;
	padding:10px;
	border-style:solid;
	border-width:2px;
	border-color:grey;
	height:140px;
	text-align: left;
	
}

.project-tab code{
	color:rgb(130, 9, 167);
}

.fa-check{
	color:rgb(11, 161, 11);
}

.fa-times{
	color:rgb(209, 9, 9);
}

.problem-container{
    width: 100%;
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: grey;
    padding: 30px 10px 30px 60px;
}

.asteriskField {
    display: none;
}
