{% extends "problems/base.html" %}

{% block content %}
<div class='container'>
    <div class=' row'>
      
            <div class='col-md-6 ' id='editor-container'>
                <div class='options-panel'>
                        <select class='select-language'>
                            <option class='language'>JavaScript</option>
                            
                            <option class='language'>C++</option>
                            
                            <option class='language'>Java</option>

                            <option class='language'>Python</option>

                            <option class='language'>Clojure </option>

                            <option class='language'>C#</option>
                        </select>
                    <span class='settings'>
                        <!--Theme Setting -->
                        <span id='theme'>
                            <div data-toggle="modal" data-target="#exampleModal">
                                <i data-toggle="tooltip" data-placement="top" title="Theme" class="fas fa-adjust" ></i>
                            </div>

                            <!--Theme Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Change Theme</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <div class="modal-body">

                                        <div class='row'>
                                            <div class='col-md-8'>
                                                <blockquote>
                                                    "Everyday life is like programming, I guess. If you love something you can put beauty into it" &#128516;
                                                    <div id='author'>- Donald Knuth</div>
                                                </blockquote>
                                            </div>

                                            <div class='col-md-4'>
                                                <select  class='select-theme'>
                                                    <option disabled>Bright</option>
                                                    <option>TextMate</option>
                                                    <option>GitHub</option>
                                                    <option>XCode</option>
                                                    <option>Tomorrow</option>

                                                    <option disabled>Dark</option>
                                                    <option>Monokai</option>
                                                    <option>Chaos</option>
                                                    <option>Terminal</option>
                                                    <option>Merbivore</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                    </div> -->
                                </div>
                                </div>
                            </div>

                        </span>
                    </span>
                </div>
                <div id='editor'>console.log("hello world");</div>
            </div>

            <!--Code Description-->
            <div class='col-md-6' id='description-container'>
                <h2>Reverse String</h2>
                <hr>

                <div class='attributes'>
                    <span> Difficulty:<span class='difficulty'>Easy</span></span>
                    <span><i>&#128077; 23</i></span>
                    <span><i>&#128078; 6</i></span>
                </div>
                <br>

                <div class='description'>
                    <div>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem beatae ducimus
                        repudiandae perferendis eum architecto quisquam deserunt sit commodi cupiditate dicta
                    </div>
                    <br>
                    <div>
                        itaque vero, voluptas distinctio vitae eaque suscipit fugit dignissimos.
                    </div>
                </div>

                <br>
                
                <div class='example'>
                    <code>
                        Given nums = [2, 7, 11, 15], target = 9,
                        <br><br>
                        Because nums[0] + nums[1] = 2 + 7 = 9,
                        <br>
                        return [0, 1].
                    </code>
                </div>
                <br>
                <div>
                    <span> Total Submissions: <i>435</i>  </span>
                    <span><i class="fas fa-check"></i> Success Rate: <i>45%</i> </span>
                </div>
            </div>

        </div>
    </div>
<!-- <div id='left-side-bar'>
sd
</div> -->
<!--Console-->
<div id='console' class='collapse' >
    <div class='tabs project-tab'>
        <nav>
            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Output</a>
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Test Cases</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">

            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <div class='output'>
                    <code >warning: division by zero [-Wdiv-by-zero]div = 0 </code>
                    <br>
                    <code>hello</code>
                </div>
            </div>

            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div class='test-cases'>
                    <div>
                        <code>[9,3,4,2,1]</code><span class='status'> <i class="fas fa-check"></i></span><hr>
                    </div>
                    <div>
                        <code>[0,3,6,2,1]</code><span class='status'> <i class="fas fa-check"></i></span><hr>
                    </div>
                    <div>
                        <code>[1,3,4,2,3]</code><span class='status'> <i class="fas fa-times"></i></span><hr>
                    </div>
                    <div>
                        <code>[98,3,44,2,1]</code><span class='status'> <i class='fas fa-check'></i></span><hr>
                    </div>
                    <div>
                        <code>[80,3,43,21,1]</code><span class='status'> <i class="fas fa-times"></i></span><hr>
                    </div>


                </div>
            </div>

        </div>
    </div>
</div>

<!--Footer-->
<footer>
    <div class='submission-bar'>
        <button class="btn run">Run Code <i class="fas fa-play"></i></button>
        <button class="btn submit">Submit <i class="fas fa-vote-yea"></i></button>
    </div>

    <div>
        <button class='btn open-console' data-target="#console" data-toggle="collapse">Console <i class="fas fa-caret-square-up"></i></button>
    </div>
</footer>


{% endblock %}