{% extends "problems/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="row mt-3 register-login" >
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend><h1>Sign Up</h1></legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <p class="text-muted">
                        Already have an account? <a href="{% url 'login' %}">Login here</a>
                    </p>
                    <button type="submit" class="btn btn-outline-info">Sign Up</button>
                </div>
            </form>
        </div>
        
    </div>
{% endblock content %}