{% extends "global/base.html" %}
{% block content %}
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6 mb-5">
    {% for problem in problems %}
    {# Each "Problem" is a Problem model object. #}
    <div class="mb-4">
      <div class="problem-card">
        {% if problem.upvoted %}
        <i class="fa fa-chevron-up fa-2x upvoted"></i>
        {% else %}
        <i class="fa fa-chevron-up fa-2x upvote"></i>
        {% endif %}
        <div class="problem-list-text">
              <a href="{% url 'editor' problem.id %}"> {{ problem.title }} </a>
              <span> {{ problem.creator }} </span>
        </div>
      </div>
    </div>
    {% endfor %}

  </div>
  <div class="col-md-3"></div>
</div>

<nav class="fixed-bottom mb-3"  aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    
    {% if problems.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page=1" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">begin</span>
      </a>
    </li>
    {% endif %}

    {% for n in problems.paginator.page_range %}
    {% if problems.number == n %}
    <li class="page-item active">
      <span class="page-link">{{ n }}<span class="sr-only">(current)</span></span>
    </li>
    {% elif n > problems.number|add:'-3' and n < problems.number|add:'3' %}
    <li class="page-item"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
    {% endif %}
    {% endfor %}

    {% if problems.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ problems.paginator.num_pages }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">end</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>



{% endblock %}