{% extends "global/base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-2"></div> 
    <div class="col-md-6">
        {% for problem in problems %}
        {# Each "Problem" is a Problem model object. #}
        <h3>{{ problem.title }}</h3><br>
        
        {% endfor %}
        
    </div>
    <div class="col-md-2"></div>
</div>
<div> 
  <div class="pagination">
    <span class="page-item">
      {% if problems.has_previous %}
      <a class="page-link" href="?page=1">&laquo;</a>
      <a class="page-link" href="?page={{ problems.previous_page_number }}">previous</a>
      {% endif %}

      <span class="page-item active">
        Page {{ problems.number }} of {{ problems.paginator.num_pages }}
      </span>

      {% if problems.has_next %}
      <a class="page-link" href="?page={{ problems.next_page_number }}">next</a>
      <a class="page-link" href="?page={{ problems.paginator.num_pages }}">&raquo;</a>
      {% endif %}
    </span>
  </div>
</div>


{% endblock %}
